<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aaecf02eb96540098dfa7681302f2161 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_aaecf02eb96540098dfa7681302f2161" ></div>
        
</body>
<script>    
    
            var map_aaecf02eb96540098dfa7681302f2161 = L.map(
                "map_aaecf02eb96540098dfa7681302f2161",
                {
                    center: [1.0, 1.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7716fd576d3448038905bc94908554ff = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_aaecf02eb96540098dfa7681302f2161);
        
    
            var feature_group_85a223cdde8c40359cb72688a7943813 = L.featureGroup(
                {}
            ).addTo(map_aaecf02eb96540098dfa7681302f2161);
        
    
            var marker_9a9e0dd2826e4223ab3363c4235f1715 = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_832dc642494b4747ae693383c0d60bf0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9a9e0dd2826e4223ab3363c4235f1715.setIcon(icon_832dc642494b4747ae693383c0d60bf0);
        
    
        var popup_e90db378d2b44f78b8efc646142cb7a9 = L.popup({"maxWidth": "100%"});

        
            var html_ca604b7d504d4e558e920c680a350455 = $(`<div id="html_ca604b7d504d4e558e920c680a350455" style="width: 100.0%; height: 100.0%;">theblcklst, in Los Angeles</div>`)[0];
            popup_e90db378d2b44f78b8efc646142cb7a9.setContent(html_ca604b7d504d4e558e920c680a350455);
        

        marker_9a9e0dd2826e4223ab3363c4235f1715.bindPopup(popup_e90db378d2b44f78b8efc646142cb7a9)
        ;

        
    
    
            var marker_93340720d05a4859aa8c80d224dd30ea = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_9787ff25e2f7480e99b5b1f05f825ae5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_93340720d05a4859aa8c80d224dd30ea.setIcon(icon_9787ff25e2f7480e99b5b1f05f825ae5);
        
    
        var popup_cf72c40ded1e4b7b86af067cd2d08bd8 = L.popup({"maxWidth": "100%"});

        
            var html_48d2e4a0d496485aae20421d5b381b89 = $(`<div id="html_48d2e4a0d496485aae20421d5b381b89" style="width: 100.0%; height: 100.0%;">hollyherndon, in Berlin, Germany</div>`)[0];
            popup_cf72c40ded1e4b7b86af067cd2d08bd8.setContent(html_48d2e4a0d496485aae20421d5b381b89);
        

        marker_93340720d05a4859aa8c80d224dd30ea.bindPopup(popup_cf72c40ded1e4b7b86af067cd2d08bd8)
        ;

        
    
    
            var marker_de57c56000de49ab8dcd2d1325db4eaf = L.marker(
                [59.3251172, 18.0710935],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_f3a596e39c2b45e590c1c9e84b8fc0d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_de57c56000de49ab8dcd2d1325db4eaf.setIcon(icon_f3a596e39c2b45e590c1c9e84b8fc0d1);
        
    
        var popup_fbe990cf468b40da8f1b37276abb9403 = L.popup({"maxWidth": "100%"});

        
            var html_94deb4b11ec247ecbde04ec3871858e7 = $(`<div id="html_94deb4b11ec247ecbde04ec3871858e7" style="width: 100.0%; height: 100.0%;">SethEverman, in Stockholm, Sweden</div>`)[0];
            popup_fbe990cf468b40da8f1b37276abb9403.setContent(html_94deb4b11ec247ecbde04ec3871858e7);
        

        marker_de57c56000de49ab8dcd2d1325db4eaf.bindPopup(popup_fbe990cf468b40da8f1b37276abb9403)
        ;

        
    
    
            var marker_16ef26a9a3bf4d7bb22ad8848d219cd8 = L.marker(
                [34.2331373, -102.4107493],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_7d592e1693a54f678d5440681f0d0546 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_16ef26a9a3bf4d7bb22ad8848d219cd8.setIcon(icon_7d592e1693a54f678d5440681f0d0546);
        
    
        var popup_7a36f804c3474ad08ff88b975dc39f5f = L.popup({"maxWidth": "100%"});

        
            var html_a63bd888aba74d5a9b7af1f0529ed08d = $(`<div id="html_a63bd888aba74d5a9b7af1f0529ed08d" style="width: 100.0%; height: 100.0%;">Extinct_AnimaIs, in Earth</div>`)[0];
            popup_7a36f804c3474ad08ff88b975dc39f5f.setContent(html_a63bd888aba74d5a9b7af1f0529ed08d);
        

        marker_16ef26a9a3bf4d7bb22ad8848d219cd8.bindPopup(popup_7a36f804c3474ad08ff88b975dc39f5f)
        ;

        
    
    
            var marker_3df485b6b66049d5adbf99728b33eae6 = L.marker(
                [60.5000209, 9.0999715],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_17daaf268710462ea5f82f62b8cc54f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3df485b6b66049d5adbf99728b33eae6.setIcon(icon_17daaf268710462ea5f82f62b8cc54f1);
        
    
        var popup_7bde2efe9b914be18ebea78ee38e006b = L.popup({"maxWidth": "100%"});

        
            var html_fddc02633b014bd2a80b63963a9524b9 = $(`<div id="html_fddc02633b014bd2a80b63963a9524b9" style="width: 100.0%; height: 100.0%;">MagnusCarlsen, in Norway</div>`)[0];
            popup_7bde2efe9b914be18ebea78ee38e006b.setContent(html_fddc02633b014bd2a80b63963a9524b9);
        

        marker_3df485b6b66049d5adbf99728b33eae6.bindPopup(popup_7bde2efe9b914be18ebea78ee38e006b)
        ;

        
    
    
            var marker_cbed3ce977484a0ea3496a172178d4b0 = L.marker(
                [42.6055893, -83.1499304],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_cf3997cf991a4f2b9259585926e0c364 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cbed3ce977484a0ea3496a172178d4b0.setIcon(icon_cf3997cf991a4f2b9259585926e0c364);
        
    
        var popup_019662b2ef1c4679b592b04e961ad0dd = L.popup({"maxWidth": "100%"});

        
            var html_c953b11ff1e5430494a1eea8b6654e64 = $(`<div id="html_c953b11ff1e5430494a1eea8b6654e64" style="width: 100.0%; height: 100.0%;">steveyeun, in Troy, MI</div>`)[0];
            popup_019662b2ef1c4679b592b04e961ad0dd.setContent(html_c953b11ff1e5430494a1eea8b6654e64);
        

        marker_cbed3ce977484a0ea3496a172178d4b0.bindPopup(popup_019662b2ef1c4679b592b04e961ad0dd)
        ;

        
    
    
            var marker_6d1fb0bf71014cef87104180e507ff87 = L.marker(
                [19.698759, 103.194342],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_e4f841153bfb440da7dc25299d728663 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6d1fb0bf71014cef87104180e507ff87.setIcon(icon_e4f841153bfb440da7dc25299d728663);
        
    
        var popup_e9318034aab242e28455164d5a3f6f13 = L.popup({"maxWidth": "100%"});

        
            var html_3148e6390df544c8b3680ec98de9f2e6 = $(`<div id="html_3148e6390df544c8b3680ec98de9f2e6" style="width: 100.0%; height: 100.0%;">RafaelCasal, in Yay Area </div>`)[0];
            popup_e9318034aab242e28455164d5a3f6f13.setContent(html_3148e6390df544c8b3680ec98de9f2e6);
        

        marker_6d1fb0bf71014cef87104180e507ff87.bindPopup(popup_e9318034aab242e28455164d5a3f6f13)
        ;

        
    
    
            var marker_1ea89f3533664052a535ec9eaa772acc = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_c4659105edb541999f9e9b201da772ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1ea89f3533664052a535ec9eaa772acc.setIcon(icon_c4659105edb541999f9e9b201da772ce);
        
    
        var popup_d6fc52fac42f4ee3b71f6281b6902edb = L.popup({"maxWidth": "100%"});

        
            var html_a84275dc2ae54c16bb789e734227a782 = $(`<div id="html_a84275dc2ae54c16bb789e734227a782" style="width: 100.0%; height: 100.0%;">caseykfrey, in Los Angeles </div>`)[0];
            popup_d6fc52fac42f4ee3b71f6281b6902edb.setContent(html_a84275dc2ae54c16bb789e734227a782);
        

        marker_1ea89f3533664052a535ec9eaa772acc.bindPopup(popup_d6fc52fac42f4ee3b71f6281b6902edb)
        ;

        
    
    
            var marker_e34c8255021b434da4917554ea10be3d = L.marker(
                [19.4326296, -99.1331785],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_bd7f224bfce84e2a85ba06db68482c4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e34c8255021b434da4917554ea10be3d.setIcon(icon_bd7f224bfce84e2a85ba06db68482c4a);
        
    
        var popup_43da7b2087d84cf4ad526afddcfcd388 = L.popup({"maxWidth": "100%"});

        
            var html_c94ebbd7c5a844ceb156c53c867ddbc6 = $(`<div id="html_c94ebbd7c5a844ceb156c53c867ddbc6" style="width: 100.0%; height: 100.0%;">alfonsocuaron, in Mexico</div>`)[0];
            popup_43da7b2087d84cf4ad526afddcfcd388.setContent(html_c94ebbd7c5a844ceb156c53c867ddbc6);
        

        marker_e34c8255021b434da4917554ea10be3d.bindPopup(popup_43da7b2087d84cf4ad526afddcfcd388)
        ;

        
    
    
            var marker_4e0939b4f7584e92a24e755e2a45b82b = L.marker(
                [47.6038321, -122.3300624],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_91ae1675506945baad5ccf75d67d8690 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4e0939b4f7584e92a24e755e2a45b82b.setIcon(icon_91ae1675506945baad5ccf75d67d8690);
        
    
        var popup_a4f90b4a7eb8497387303ce45d0b3f4e = L.popup({"maxWidth": "100%"});

        
            var html_5e020bff6e1f4976ab71dc266c223c36 = $(`<div id="html_5e020bff6e1f4976ab71dc266c223c36" style="width: 100.0%; height: 100.0%;">LeftAtLondon, in Seattle, WA</div>`)[0];
            popup_a4f90b4a7eb8497387303ce45d0b3f4e.setContent(html_5e020bff6e1f4976ab71dc266c223c36);
        

        marker_4e0939b4f7584e92a24e755e2a45b82b.bindPopup(popup_a4f90b4a7eb8497387303ce45d0b3f4e)
        ;

        
    
    
            var marker_8f21af9871a74c1dbe794d827ad02a95 = L.marker(
                [36.0928864, -95.9397973],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_89ce01abbe8d49dd88a1223af8578107 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8f21af9871a74c1dbe794d827ad02a95.setIcon(icon_89ce01abbe8d49dd88a1223af8578107);
        
    
        var popup_dbb6dc399bc54a7d94d1528d48c28207 = L.popup({"maxWidth": "100%"});

        
            var html_7813f79b472a43a580d74b2794b02b1f = $(`<div id="html_7813f79b472a43a580d74b2794b02b1f" style="width: 100.0%; height: 100.0%;">hunteryharris, in nyc via okla</div>`)[0];
            popup_dbb6dc399bc54a7d94d1528d48c28207.setContent(html_7813f79b472a43a580d74b2794b02b1f);
        

        marker_8f21af9871a74c1dbe794d827ad02a95.bindPopup(popup_dbb6dc399bc54a7d94d1528d48c28207)
        ;

        
    
    
            var marker_4c7561de9dc24055884d447bae257b13 = L.marker(
                [43.1561681, -75.8449946],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_90546e23ea4d4c6e948e23005eec7dce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4c7561de9dc24055884d447bae257b13.setIcon(icon_90546e23ea4d4c6e948e23005eec7dce);
        
    
        var popup_5cabc32e19ac4fceadb9edae98ba0031 = L.popup({"maxWidth": "100%"});

        
            var html_34715d794af644dd958e45c0e70cc759 = $(`<div id="html_34715d794af644dd958e45c0e70cc759" style="width: 100.0%; height: 100.0%;">ElaraPictures, in NY</div>`)[0];
            popup_5cabc32e19ac4fceadb9edae98ba0031.setContent(html_34715d794af644dd958e45c0e70cc759);
        

        marker_4c7561de9dc24055884d447bae257b13.bindPopup(popup_5cabc32e19ac4fceadb9edae98ba0031)
        ;

        
    
    
            var marker_f95f6aad5ea94055a67d4bfda403047b = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_10cb97cbb50f469e80fea0f742bb9ff2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f95f6aad5ea94055a67d4bfda403047b.setIcon(icon_10cb97cbb50f469e80fea0f742bb9ff2);
        
    
        var popup_c91b0e79cbf349a4a774d45c27db7c1f = L.popup({"maxWidth": "100%"});

        
            var html_d84535620f6e4e46866cab69266e90a0 = $(`<div id="html_d84535620f6e4e46866cab69266e90a0" style="width: 100.0%; height: 100.0%;">davism0llie, in United States</div>`)[0];
            popup_c91b0e79cbf349a4a774d45c27db7c1f.setContent(html_d84535620f6e4e46866cab69266e90a0);
        

        marker_f95f6aad5ea94055a67d4bfda403047b.bindPopup(popup_c91b0e79cbf349a4a774d45c27db7c1f)
        ;

        
    
    
            var marker_68b6109c10ac45abb7a9ec0adb6a07d9 = L.marker(
                [31.0742872, 33.82922270280916],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_4af0715a8ec7432c9ac0acae4e949853 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_68b6109c10ac45abb7a9ec0adb6a07d9.setIcon(icon_4af0715a8ec7432c9ac0acae4e949853);
        
    
        var popup_4fdbe65ea00b4bf0b4d14b95ae41ad75 = L.popup({"maxWidth": "100%"});

        
            var html_ccbb287b3e684fb3b4e684e6fa921c6b = $(`<div id="html_ccbb287b3e684fb3b4e684e6fa921c6b" style="width: 100.0%; height: 100.0%;">SaraBareilles, in hear.</div>`)[0];
            popup_4fdbe65ea00b4bf0b4d14b95ae41ad75.setContent(html_ccbb287b3e684fb3b4e684e6fa921c6b);
        

        marker_68b6109c10ac45abb7a9ec0adb6a07d9.bindPopup(popup_4fdbe65ea00b4bf0b4d14b95ae41ad75)
        ;

        
    
    
            var marker_8cc3dfd9b58247cb8a3976914b24156c = L.marker(
                [25.7742658, -80.1936589],
                {}
            ).addTo(feature_group_85a223cdde8c40359cb72688a7943813);
        
    
            var icon_73a265a4a9434835a6eaf9984184a5f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8cc3dfd9b58247cb8a3976914b24156c.setIcon(icon_73a265a4a9434835a6eaf9984184a5f6);
        
    
        var popup_03ef902b3be84118bf0125008aba2350 = L.popup({"maxWidth": "100%"});

        
            var html_595d02809b2c4a3baf29692a371beeba = $(`<div id="html_595d02809b2c4a3baf29692a371beeba" style="width: 100.0%; height: 100.0%;">Jen_Stark, in Miami, FL</div>`)[0];
            popup_03ef902b3be84118bf0125008aba2350.setContent(html_595d02809b2c4a3baf29692a371beeba);
        

        marker_8cc3dfd9b58247cb8a3976914b24156c.bindPopup(popup_03ef902b3be84118bf0125008aba2350)
        ;

        
    
    
            var layer_control_af737d7b3dc54340b4cd9681a49a9cd4 = {
                base_layers : {
                    "openstreetmap" : tile_layer_7716fd576d3448038905bc94908554ff,
                },
                overlays :  {
                    "Friends" : feature_group_85a223cdde8c40359cb72688a7943813,
                },
            };
            L.control.layers(
                layer_control_af737d7b3dc54340b4cd9681a49a9cd4.base_layers,
                layer_control_af737d7b3dc54340b4cd9681a49a9cd4.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_aaecf02eb96540098dfa7681302f2161);
        
</script>